
      html, body, pre, code, kbd, samp {
        font-family: 'Press Start 2P', cursive;
      }
    body{
        text-align: center;
        align-content: center;
    }
    img{
        width: 100%;
    }
    /* @media all and (max-width:500px){ 
body{
    color: white;
    
    background-color: black;
}
span{
    color: white;
    background: black;
}
.title{
    background: black;
}

    }
    */