
      html, body, pre, code, kbd, samp {
        font-family: 'Press Start 2P', cursive;
      }
    body{
        text-align: center;
        align-content: center;
    }
    img{
        width: 100%;
        color: #000000;
    }
    /* @media all and (max-width:500px){ 
body{
    color: white;
    
    background-color: black;
}
span{
    color: white;
    background: black;
}
.nes-container , .with-title , .title{
    background-color:#212529;
     padding: 1rem 0; 
     color: white;

}

    } */
    