
      html, body, pre, code, kbd, samp {
        font-family: 'Press Start 2P', cursive;
      }
    body{
        text-align: center;
        align-content: center;
    }
    img{
        width: 100%;
    }
    @media all 